extends layout

block content
  h1= title
  .container-fluid 
    .row 
      each eatable,key in results
        div(class="col-sm-2"  onclick=`buy(${key})`) 
            = eatable.eatable_name+" "+eatable.flavor+" "+eatable.price
  script.
    function buy(param){
      alert("You purchased item "+param)
    }